{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Ejeh-blog is a blog that provides random amazing informations to help keep you checked in/</p>
        <p>This web application was developed by Johnson Ejeh, who is a python developer. Johnson Ejeh is a mechanical engineering graduate who worked as a mechanical technician and decided to switch to programing to help find his sweet spot.</p>
        <p>Please reach out to us if you have any comments, we would love to hear your feedback as we continue to seek perfection.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
