{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Hello there! My name is Johnson Ejeh, and I'm thrilled to welcome you to my blog. As a former mechanical engineer turned software engineer, I'm passionate about sharing knowledge and making a positive impact through information./</p>
        <p>Throughout my career journey, I discovered my love for programming and decided to switch gears. Embracing this new path has opened up a world of possibilities and allowed me to explore the fascinating realm of software engineering.</p>
        <p>The inspiration behind this blog site stems from my deep desire to inform and educate. I firmly believe that knowledge is a powerful tool that can shape lives and empower individuals. Here, you'll find a diverse range of topics that I'm excited to cover, including men's health, fascinating facts about different countries, and more. I'm also open to incorporating your valuable feedback to ensure that the content resonates with your interests and needs.</p>
        <p>In addition to my passion for writing and sharing information, I have specific qualifications and experience in the subjects I cover. My engineering background equips me with a unique perspective and attention to detail, while my ongoing exploration of programming keeps me up to date with the latest trends and innovations.</p>
        <p>Through this blog, my ultimate goal is to create awareness and make a positive impact. I believe that by sharing knowledge and sparking conversations, we can collectively contribute to a better-informed society.</p>
        <p>Outside the digital world, I have a range of hobbies and interests that keep me inspired and energized. When I'm not writing or coding, you can find me exploring the intricacies of programming, shooting hoops on the basketball court, or immersing myself in the soulful melodies of the saxophone. I'm a firm believer in lifelong learning and always seek out opportunities to expand my horizons.</p>
        <p>I'm excited to embark on this journey with you, and I hope that you find value and enjoyment in the content I share. If you have any questions, suggestions, or just want to say hello, please don't hesitate to reach out.</p>
        <p>Thank you for joining me on this adventure of knowledge and exploration!</p>
        <p>Sincerely,</p>
        <p>Johnson Ejeh</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
